doctype html
html(lang='en')
	head
		title Cycling in Apeldoorn
		style
			include ../public/css/index.css
		link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
	body
		div(class='navbar')
			a(href='/blog') Blog
			a(href='/routes') Routes
			a(class='active' href='/') Home
		div(class='content')
		div(class='main')
			h2 Welcome!
			h3 Discover cycling routes in Apeldoorn. 
		div(class='footer')
			span.copyright Copyright © Cycling in Apeldoorn 2017
	script
		include ../public/js/main.js
	script(src='')

