doctype html
html(lang='en')
	head
		title Cycling in Apeldoorn
		style
			include ../public/css/index.css
		link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
		//- link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
	body
		div(class='navbar')
			a(href='/blog') Places
			a(href='/routes') Routes
			a(class='active' href='/') Home
		div(class='content')
		div(class='main')
			h1 Welcome!
			h3 This website is dedicated to cycling lovers that wish to discover the surroudings of Apeldoorn, the Netherlands. Take a look at various cycling routes for short as well as long distances and visit some of the suggested sightseeings in Apeldoorn that are within a short cycling distance.
		div(class='footer')
			//- span.copyright Copyright © Cycling in Apeldoorn 2017
