doctype html
html(lang="en")
	head
		meta(http-equiv="Content-Type" content="text/html; charset=windows-1252")
		//- style
		//- 	include ../public/css/main.css
		title Routes
	body
		h2 Cycling Routes
		input(type='button' id='getRoutes' value='Get Routes' class='btn' href='https://www.mapmyfitness.com/v7.1/oauth2/uacf/authorize?response_type=code&client_id=CLIENT_ID&redirect_uri=CALLBACK_URL&scope=read') 
	div(id='results')
	//- script(type='text/javascript' src='https://code.jquery.com/jquery-1.12.4.min.js')
	//- script
