doctype html
html(lang='en')
	head
		meta(http-equiv="Content-Type" content="text/html; charset=windows-1252")
		title Routes
		style
			include ../public/css/points.css
		link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
	body
		iframe(id="mapmyfitness_route" src="//snippets.mapmycdn.com/routes/view/embedded/264972?width=600&height=400&&line_color=E60f0bdb&rgbhex=DB0B0E&distance_markers=0&unit_type=metric&map_mode=ROADMAP&last_updated=2007-09-05T10:57:13+02:00&show_marker_every=2")
		br
		a(target="_blank" rel="noopener noreferrer" href="http://www.mapmyride.com/routes/create/") Create Routes</a> at MapMyRide
		