<!DOCTYPE html>
    <html>
      <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>Simple Polylines</title>
     <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
        <script>

  function initMap() {
    var myOptions = {
      zoom: 10,
      center: new google.maps.LatLng(-33.92, 151.25),
      mapTypeId: 'roadmap'
    }
    var map = new google.maps.Map(document.getElementById("map"), myOptions);
    var points = [     
        new google.maps.LatLng(-33.890542, 151.274856),     
        new google.maps.LatLng(-33.923036, 151.259052),     
        new google.maps.LatLng(-34.028249, 151.157507), 
        new google.maps.LatLng(-33.80010128657071, 151.28747820854187),
        // new google.maps.LatLng(-33.950198, 151.259302, 1),  
        new google.maps.LatLng(-33.890542, 151.274856),     

    ]; 
  // var service = new google.maps.DirectionsService();
  // var directionsDisplay = new google.maps.DirectionsRenderer();    
  // directionsDisplay.setMap(map);


    // var bikeLayer = new google.maps.BicyclingLayer();
    // bikeLayer.setMap(map);

    var markers = [];
    var path = [];
    for (var i = 0; i < points.length; ++i) {
        var marker = new google.maps.Marker({map: map, position: points[i], icon: ''});
        markers.push(marker);
        path.push(marker.position);
    }
    // var polyline = new google.maps.Polyline({     
    //     path: path,     
    //     strokeColor: "#FF0000"
    // });    
    // polyline.setMap(map);  
    }

    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCks71_vzjMvUuatIZj2VaNKVvuB7bFyqc&signed_in=true&callback=initMap"></script>
   
  </body>
</html>