doctype html
html(lang='en')
	head
		meta(http-equiv="Content-Type" content="text/html; charset=windows-1252")
		title Routes
		style
			include ../public/css/routes.css
		link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
	body
		div(class='navbar')
			a(href='/blog') Blog
			a(class='active' href='/routes') Routes
			a(href='/') Home
		h2 Cycling Routes
		h3 #{data[0]}
	div(id='map')
	script.
		var data = "#{data}";
		var names = "#{names}";
		function initMap() {
			var myOptions = {
				center: new google.maps.LatLng(52.21115700000001, 5.96992309999996),
				zoom: 12,
				mapTypeId: 'roadmap'
			};
			var map = new google.maps.Map(document.getElementById('map'), myOptions);

			var coordinates = function(data) {
				for(var i = 0; i < data.length; i++) {
					return new google.maps.LatLng(data[1], data[0]);
				};
			};
			var names = [];
			for(var i = 0; i <= names.length; i++) {
				names.push(names[i]);
			}

			var routes = [];
			for(var i = 0; i <= data.length; i++) {
				//- routes.push(new google.maps.LatLng(data[i].Longitude, data[i].Latitude));
				routes.push(new google.maps.LatLng(data));
				var marker = new google.maps.Marker({
					map: map, 
					position: routes[i], 
					title: names[i],
					icon: '../img/cycling.png'
				});
				(function (marker, i) {
					google.maps.event.addListener(marker, 'click', function () {
						infowindow = new google.maps.InfoWindow({ maxWidth: 250 });
						infowindow.setContent(names[i]);
						infowindow.open(map, marker);
					});
				})(marker, i);
			}
			error: function (result) {
				alert("Error");
			}
		};


	script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCks71_vzjMvUuatIZj2VaNKVvuB7bFyqc&signed_in=true&callback=initMap")
	script
		//- include ../public/js/main.js
