html, body {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url('img/veluwe.jpg') no-repeat center center fixed;
  background-size: cover;
}

#map {
  height: 400px;
  width: 600px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 50px;
}

.navbar {
  overflow: hidden;
  background-color: rgba(255,255,255,0.5);
  padding: 0;
  margin: auto;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  color: #777;
  text-align: center;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 20px;
}

.container {
  text-align: center;
  color: black;
  margin: 70px auto;
  background: white;
  width: 100%;
  max-width: 960px;
  height: auto;
  border-radius: 5px;
  padding-bottom: 200px;
}


.navbar a:hover:not(.active) {
  background-color: #fdfcfc;
}

.active {
    background-color: #fdfcfc;
}

.pheading {
  margin-right: 235px;
}


#background {
  position: relative;
}

#background img{
  width: 100%;
  top: 0;
}

h1{
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0;
  text-decoration: none;
  color: black;
  padding-top: 80px;
  padding-bottom: 20px;
}

p {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 90%;
  max-width: 700px;
  text-align: left;
  margin: 0 auto;
  padding-bottom: 0px;
  letter-spacing: 1px;
}

.image1 {
  height: 165px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  margin-right: 25px;
  margin-left: 70px;
  border-radius: 7px;
}


.image2 {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 25px;
  margin-left: 70px;
  border-radius: 7px;
  margin-top: 8px;
}


.image3 {
  height: 200px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  margin-right: 25px;
  margin-left: 70px;
  border-radius: 7px;
}

.image4 {
  height: 190px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  margin-right: 25px;
  margin-left: 70px;
  border-radius: 7px;
}

.w3-button {
  float: right;
  width: 110px;
  text-align: center;
  border-radius: 5px; 
}

.footer {
  margin-bottom: 40px;
  text-align: center;
  font-size: 80%;
}

