html, body {
	font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 100%;
	padding: 0;
	margin: 0;
	height: 100%;
	text-align: center;
}

.navbar {
	overflow: hidden;
	background-color: rgba(255,255,255,0.5);
	padding: 0;
	margin: auto;
	width: 100%;
}

.navbar a {
	float: right;
	display: block;
	color: #777;
	text-align: center;
	padding: 12px 30px;
	text-decoration: none;
	font-size: 20px;
}

#map {
	height: 400px;
	width: 600px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 50px;
}

iframe {
	height: 455px;
	width: 70%;
	margin-top: 50px;
}

a {
	margin-top: 50px;
	text-align: right;
	padding-right: 20px;
}

#map_canvas {
	float: left;
	width: 70%;
	height: 100%;
}

#control_panel {
	float: right;
	width: 30%;
	text-align: left;
	padding-top:20px;
}

#directions_panel {
	margin: 20px;
	background-color: gray;
}